# Dependencies
node_modules/
.pnpm-store/

# Build & Output directories
dist/
build/
out/
.output/
.turbo/
packages/database/src/generated/

#AI
.agents/
.claude/
.windsurf/

# Vercel deployment cache & configs
.vercel/

# Environment variables & secrets (CRITICAL)
.env
.env.*
!.env.example

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System & OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs & Debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing & Coverage
coverage/
.nyc_output/

# Temporary & Cache files
.cache/
*.tsbuildinfo