# PostgreSQL Connection Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=user1234
POSTGRES_DB=mydb
TZ=Africa/Addis_Ababa

# Prisma Database URL
DATABASE_URL="postgresql://user:user1234@localhost:5432/mydb?schema=public"

# Application Secrets & Settings
PORT=3000
TELEGRAM_BOT_MODE=webhook # 'polling' for local dev, 'webhook' for production
TELEGRAM_BOT_TOKEN="8101596933:AAElBR3lpjL2l_ExHLiYwji3o7bi_feGBvM"
TELEGRAM_WEBHOOK_SECRET="b5871b4b44d8a6765f6aafde89440cbd01cd74da64a99fab568f5f79e84ceb42"
TELEGRAM_WEBHOOK_URL="https://grow-hekggrmnr-deepblue-dots-projects.vercel.app/api/telegram/webhook"
MINI_APP_URL="https://grow-hekggrmnr-deepblue-dots-projects.vercel.app/miniapp"
JWT_SECRET="growbot_secret_key"
