# PostgreSQL Connection Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=user1234
POSTGRES_DB=mydb
TZ=Africa/Addis_Ababa

# Prisma Database URL
DATABASE_URL="postgresql://user:user1234@localhost:5432/mydb?schema=public"

# Application Secrets & Settings
PORT=3000
TELEGRAM_BOT_MODE=polling # Set to 'polling' for local dev, 'webhook' for production
TELEGRAM_BOT_TOKEN="7890123456:ABCdefGHIjklMNOpqrsTUVwxyz123456"
TELEGRAM_WEBHOOK_SECRET="growbot_secret_token_123"
TELEGRAM_WEBHOOK_URL="https://api.yourdomain.com/api/telegram/webhook"
MINI_APP_URL="https://growbot.app"
JWT_SECRET="growbot_secret_key"
